# API de login do professor (usada diretamente pelo app Android)
EXPO_PUBLIC_AUTH_API_URL=https://login-p26w.onrender.com/fatec/login/v1

# Mesma API, usada pelo proxy do servidor Expo (versão Web)
AUTH_API_URL=https://login-p26w.onrender.com/fatec/login/v1
